.card > * {
    margin: 5px 0;
}

.card {
    font-family: "Flexo-Demi", arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px;
    color: #000000;
    cursor: pointer;
    width: 180px;
    height: 180px;
    margin: 10px;
    padding: 10px;
    transition: transform 250ms;

    &:hover {
        transform: translateY(-10px);
        background-color: #777777;
        color: #ffffff;
    }


    &__image {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__infos {
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__types-list {
        display: flex;
        justify-content: space-around;
        width: 100%;

        &--type {
            text-align: center;
            padding: 2px 10px;
            font-family: "Flexo-Medium",arial,sans-serif;
            border-radius: 5px;
            font-size: 8px;
            line-height: 18px;
            max-width: 110px;
            text-transform: uppercase;
            text-align: center;
        }
    }
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}