.pokedex {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    min-height: 100vh;
    background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
  }

  &__searchbar {
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    height: 40px;
    width: 400px;
    color: #000000;
    font-size: 18px;
    background-color: #ffffff;
    padding: 0 10px;
  }

  &__image {
    width: 250px;
    height: 100px;
    background-image: url("./../../pokemon-logo.png");
    background-repeat: round;
    margin: 50px 0;
  }

  &__pokelist {
    margin: 50px 0;
    padding: 30px !important;
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid #f2f2f2;
    display: flex;
    padding: 5px;
  }
}
